*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
.idea
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

consonance-daemon/.idea

.DS_Store
*/dependency-reduced-pom.xml

consonance-arch/arch3_test.log

# Ignore Eclipse files
*.classpath
*.project
*.settings
/consonance-common/target/
**/target/

# Ignore NetBeans files
nbactions.xml
/consonance-reporting/target/
/container-admin/config
/container-admin/youxia_config
/container-admin/key.pem
/container-admin/bag_params.json
