*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

consonance-daemon/.idea

.DS_Store
consonance-daemon/dependency-reduced-pom.xml
consonance-reporting/dependency-reduced-pom.xml
consonance-daemon/target

# Ignore Eclipse files
*.classpath
*.project
*.settings
/consonance-common/target/
**/target/

# Ignore NetBeans files
nbactions.xml
/consonance-reporting/target/
