*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#intellij stuff
*.iml
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

pancancer-arch-3/.idea

.DS_Store
pancancer-arch-3/PanCancerArch3.iml
pancancer-arch-3/dependency-reduced-pom.xml
pancancer-reporting/dependency-reduced-pom.xml
pancancer-arch-3/pancancer_arch_3.json
pancancer-arch-3/target

# Ignore Eclipse files
*.classpath
*.project
*.settings
/pancancer-common/target/
/target/

# Ignore NetBeans files
nbactions.xml
/pancancer-reporting/target/
