///*
// * workflow_execution.proto
// * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
// *
// * OpenAPI spec version: version not set
// *
// *
// * NOTE: This class is auto generated by the swagger code generator program.
// * https://github.com/swagger-api/swagger-codegen.git
// * Do not edit the class manually.
// */
//
//
//package io.swagger.client.api;
//
//import io.swagger.client.ApiCallback;
//import io.swagger.client.ApiClient;
//import io.swagger.client.ApiException;
//import io.swagger.client.ApiResponse;
//import io.swagger.client.Configuration;
//import io.swagger.client.Pair;
//import io.swagger.client.ProgressRequestBody;
//import io.swagger.client.ProgressResponseBody;
//
//import com.google.gson.reflect.TypeToken;
//
//import java.io.IOException;
//
//
//import io.swagger.client.model.Ga4ghWesServiceInfo;
//import io.swagger.client.model.Ga4ghWesWorkflowListResponse;
//import io.swagger.client.model.Ga4ghWesWorkflowLog;
//import io.swagger.client.model.Ga4ghWesWorkflowRequest;
//import io.swagger.client.model.Ga4ghWesWorkflowRunId;
//import io.swagger.client.model.Ga4ghWesWorkflowStatus;
//
//import java.lang.reflect.Type;
//import java.util.ArrayList;
//import java.util.HashMap;
//import java.util.List;
//import java.util.Map;
//
//public class WorkflowExecutionServiceApi {
//    private ApiClient apiClient;
//
//    public WorkflowExecutionServiceApi() {
//        this(Configuration.getDefaultApiClient());
//    }
//
//    public WorkflowExecutionServiceApi(ApiClient apiClient) {
//        this.apiClient = apiClient;
//    }
//
//    public ApiClient getApiClient() {
//        return apiClient;
//    }
//
//    public void setApiClient(ApiClient apiClient) {
//        this.apiClient = apiClient;
//    }
//
//    /**
//     * Build call for cancelJob
//     * @param workflowId  (required)
//     * @param progressListener Progress listener
//     * @param progressRequestListener Progress request listener
//     * @return Call to execute
//     * @throws ApiException If fail to serialize the request body object
//     */
//    public com.squareup.okhttp.Call cancelJobCall(String workflowId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//        Object localVarPostBody = null;
//
//        // create path and map variables
//        String localVarPath = "/ga4gh/wes/v1/workflows/{workflow_id}"
//            .replaceAll("\\{" + "workflow_id" + "\\}", apiClient.escapeString(workflowId.toString()));
//
//        List<Pair> localVarQueryParams = new ArrayList<Pair>();
//
//        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
//
//        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
//
//        final String[] localVarAccepts = {
//            "application/json"
//        };
//        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
//        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);
//
//        final String[] localVarContentTypes = {
//            "application/json"
//        };
//        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
//        localVarHeaderParams.put("Content-Type", localVarContentType);
//
//        if(progressListener != null) {
//            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
//                @Override
//                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
//                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
//                    return originalResponse.newBuilder()
//                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
//                    .build();
//                }
//            });
//        }
//
//        String[] localVarAuthNames = new String[] {  };
//        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
//    }
//
//    @SuppressWarnings("rawtypes")
//    private com.squareup.okhttp.Call cancelJobValidateBeforeCall(String workflowId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//
//        // verify the required parameter 'workflowId' is set
//        if (workflowId == null) {
//            throw new ApiException("Missing the required parameter 'workflowId' when calling cancelJob(Async)");
//        }
//
//
//        com.squareup.okhttp.Call call = cancelJobCall(workflowId, progressListener, progressRequestListener);
//        return call;
//
//
//
//
//
//    }
//
//    /**
//     * Cancel a running workflow
//     *
//     * @param workflowId  (required)
//     * @return Ga4ghWesWorkflowRunId
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public Ga4ghWesWorkflowRunId cancelJob(String workflowId) throws ApiException {
//        ApiResponse<Ga4ghWesWorkflowRunId> resp = cancelJobWithHttpInfo(workflowId);
//        return resp.getData();
//    }
//
//    /**
//     * Cancel a running workflow
//     *
//     * @param workflowId  (required)
//     * @return ApiResponse&lt;Ga4ghWesWorkflowRunId&gt;
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public ApiResponse<Ga4ghWesWorkflowRunId> cancelJobWithHttpInfo(String workflowId) throws ApiException {
//        com.squareup.okhttp.Call call = cancelJobValidateBeforeCall(workflowId, null, null);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowRunId>(){}.getType();
//        return apiClient.execute(call, localVarReturnType);
//    }
//
//    /**
//     * Cancel a running workflow (asynchronously)
//     *
//     * @param workflowId  (required)
//     * @param callback The callback to be executed when the API call finishes
//     * @return The request call
//     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
//     */
//    public com.squareup.okhttp.Call cancelJobAsync(String workflowId, final ApiCallback<Ga4ghWesWorkflowRunId> callback) throws ApiException {
//
//        ProgressResponseBody.ProgressListener progressListener = null;
//        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;
//
//        if (callback != null) {
//            progressListener = new ProgressResponseBody.ProgressListener() {
//                @Override
//                public void update(long bytesRead, long contentLength, boolean done) {
//                    callback.onDownloadProgress(bytesRead, contentLength, done);
//                }
//            };
//
//            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
//                @Override
//                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
//                    callback.onUploadProgress(bytesWritten, contentLength, done);
//                }
//            };
//        }
//
//        com.squareup.okhttp.Call call = cancelJobValidateBeforeCall(workflowId, progressListener, progressRequestListener);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowRunId>(){}.getType();
//        apiClient.executeAsync(call, localVarReturnType, callback);
//        return call;
//    }
//    /**
//     * Build call for getServiceInfo
//     * @param progressListener Progress listener
//     * @param progressRequestListener Progress request listener
//     * @return Call to execute
//     * @throws ApiException If fail to serialize the request body object
//     */
//    public com.squareup.okhttp.Call getServiceInfoCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//        Object localVarPostBody = null;
//
//        // create path and map variables
//        String localVarPath = "/ga4gh/wes/v1/service-info";
//
//        List<Pair> localVarQueryParams = new ArrayList<Pair>();
//
//        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
//
//        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
//
//        final String[] localVarAccepts = {
//            "application/json"
//        };
//        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
//        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);
//
//        final String[] localVarContentTypes = {
//            "application/json"
//        };
//        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
//        localVarHeaderParams.put("Content-Type", localVarContentType);
//
//        if(progressListener != null) {
//            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
//                @Override
//                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
//                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
//                    return originalResponse.newBuilder()
//                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
//                    .build();
//                }
//            });
//        }
//
//        String[] localVarAuthNames = new String[] {  };
//        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
//    }
//
//    @SuppressWarnings("rawtypes")
//    private com.squareup.okhttp.Call getServiceInfoValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//
//
//        com.squareup.okhttp.Call call = getServiceInfoCall(progressListener, progressRequestListener);
//        return call;
//
//
//
//
//
//    }
//
//    /**
//     * Get information about Workflow Execution Service.  May include information related (but not limited to) the workflow descriptor formats, versions supported, the WES API versions supported, and information about general the service availability.
//     *
//     * @return Ga4ghWesServiceInfo
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public Ga4ghWesServiceInfo getServiceInfo() throws ApiException {
//        ApiResponse<Ga4ghWesServiceInfo> resp = getServiceInfoWithHttpInfo();
//        return resp.getData();
//    }
//
//    /**
//     * Get information about Workflow Execution Service.  May include information related (but not limited to) the workflow descriptor formats, versions supported, the WES API versions supported, and information about general the service availability.
//     *
//     * @return ApiResponse&lt;Ga4ghWesServiceInfo&gt;
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public ApiResponse<Ga4ghWesServiceInfo> getServiceInfoWithHttpInfo() throws ApiException {
//        com.squareup.okhttp.Call call = getServiceInfoValidateBeforeCall(null, null);
//        Type localVarReturnType = new TypeToken<Ga4ghWesServiceInfo>(){}.getType();
//        return apiClient.execute(call, localVarReturnType);
//    }
//
//    /**
//     * Get information about Workflow Execution Service.  May include information related (but not limited to) the workflow descriptor formats, versions supported, the WES API versions supported, and information about general the service availability. (asynchronously)
//     *
//     * @param callback The callback to be executed when the API call finishes
//     * @return The request call
//     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
//     */
//    public com.squareup.okhttp.Call getServiceInfoAsync(final ApiCallback<Ga4ghWesServiceInfo> callback) throws ApiException {
//
//        ProgressResponseBody.ProgressListener progressListener = null;
//        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;
//
//        if (callback != null) {
//            progressListener = new ProgressResponseBody.ProgressListener() {
//                @Override
//                public void update(long bytesRead, long contentLength, boolean done) {
//                    callback.onDownloadProgress(bytesRead, contentLength, done);
//                }
//            };
//
//            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
//                @Override
//                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
//                    callback.onUploadProgress(bytesWritten, contentLength, done);
//                }
//            };
//        }
//
//        com.squareup.okhttp.Call call = getServiceInfoValidateBeforeCall(progressListener, progressRequestListener);
//        Type localVarReturnType = new TypeToken<Ga4ghWesServiceInfo>(){}.getType();
//        apiClient.executeAsync(call, localVarReturnType, callback);
//        return call;
//    }
//    /**
//     * Build call for getWorkflowLog
//     * @param workflowId  (required)
//     * @param progressListener Progress listener
//     * @param progressRequestListener Progress request listener
//     * @return Call to execute
//     * @throws ApiException If fail to serialize the request body object
//     */
//    public com.squareup.okhttp.Call getWorkflowLogCall(String workflowId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//        Object localVarPostBody = null;
//
//        // create path and map variables
//        String localVarPath = "/ga4gh/wes/v1/workflows/{workflow_id}"
//            .replaceAll("\\{" + "workflow_id" + "\\}", apiClient.escapeString(workflowId.toString()));
//
//        List<Pair> localVarQueryParams = new ArrayList<Pair>();
//
//        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
//
//        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
//
//        final String[] localVarAccepts = {
//            "application/json"
//        };
//        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
//        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);
//
//        final String[] localVarContentTypes = {
//            "application/json"
//        };
//        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
//        localVarHeaderParams.put("Content-Type", localVarContentType);
//
//        if(progressListener != null) {
//            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
//                @Override
//                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
//                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
//                    return originalResponse.newBuilder()
//                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
//                    .build();
//                }
//            });
//        }
//
//        String[] localVarAuthNames = new String[] {  };
//        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
//    }
//
//    @SuppressWarnings("rawtypes")
//    private com.squareup.okhttp.Call getWorkflowLogValidateBeforeCall(String workflowId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//
//        // verify the required parameter 'workflowId' is set
//        if (workflowId == null) {
//            throw new ApiException("Missing the required parameter 'workflowId' when calling getWorkflowLog(Async)");
//        }
//
//
//        com.squareup.okhttp.Call call = getWorkflowLogCall(workflowId, progressListener, progressRequestListener);
//        return call;
//
//
//
//
//
//    }
//
//    /**
//     * Get detailed info about a running workflow
//     *
//     * @param workflowId  (required)
//     * @return Ga4ghWesWorkflowLog
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public Ga4ghWesWorkflowLog getWorkflowLog(String workflowId) throws ApiException {
//        ApiResponse<Ga4ghWesWorkflowLog> resp = getWorkflowLogWithHttpInfo(workflowId);
//        return resp.getData();
//    }
//
//    /**
//     * Get detailed info about a running workflow
//     *
//     * @param workflowId  (required)
//     * @return ApiResponse&lt;Ga4ghWesWorkflowLog&gt;
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public ApiResponse<Ga4ghWesWorkflowLog> getWorkflowLogWithHttpInfo(String workflowId) throws ApiException {
//        com.squareup.okhttp.Call call = getWorkflowLogValidateBeforeCall(workflowId, null, null);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowLog>(){}.getType();
//        return apiClient.execute(call, localVarReturnType);
//    }
//
//    /**
//     * Get detailed info about a running workflow (asynchronously)
//     *
//     * @param workflowId  (required)
//     * @param callback The callback to be executed when the API call finishes
//     * @return The request call
//     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
//     */
//    public com.squareup.okhttp.Call getWorkflowLogAsync(String workflowId, final ApiCallback<Ga4ghWesWorkflowLog> callback) throws ApiException {
//
//        ProgressResponseBody.ProgressListener progressListener = null;
//        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;
//
//        if (callback != null) {
//            progressListener = new ProgressResponseBody.ProgressListener() {
//                @Override
//                public void update(long bytesRead, long contentLength, boolean done) {
//                    callback.onDownloadProgress(bytesRead, contentLength, done);
//                }
//            };
//
//            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
//                @Override
//                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
//                    callback.onUploadProgress(bytesWritten, contentLength, done);
//                }
//            };
//        }
//
//        com.squareup.okhttp.Call call = getWorkflowLogValidateBeforeCall(workflowId, progressListener, progressRequestListener);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowLog>(){}.getType();
//        apiClient.executeAsync(call, localVarReturnType, callback);
//        return call;
//    }
//    /**
//     * Build call for getWorkflowStatus
//     * @param workflowId  (required)
//     * @param progressListener Progress listener
//     * @param progressRequestListener Progress request listener
//     * @return Call to execute
//     * @throws ApiException If fail to serialize the request body object
//     */
//    public com.squareup.okhttp.Call getWorkflowStatusCall(String workflowId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//        Object localVarPostBody = null;
//
//        // create path and map variables
//        String localVarPath = "/ga4gh/wes/v1/workflows/{workflow_id}/status"
//            .replaceAll("\\{" + "workflow_id" + "\\}", apiClient.escapeString(workflowId.toString()));
//
//        List<Pair> localVarQueryParams = new ArrayList<Pair>();
//
//        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
//
//        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
//
//        final String[] localVarAccepts = {
//            "application/json"
//        };
//        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
//        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);
//
//        final String[] localVarContentTypes = {
//            "application/json"
//        };
//        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
//        localVarHeaderParams.put("Content-Type", localVarContentType);
//
//        if(progressListener != null) {
//            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
//                @Override
//                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
//                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
//                    return originalResponse.newBuilder()
//                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
//                    .build();
//                }
//            });
//        }
//
//        String[] localVarAuthNames = new String[] {  };
//        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
//    }
//
//    @SuppressWarnings("rawtypes")
//    private com.squareup.okhttp.Call getWorkflowStatusValidateBeforeCall(String workflowId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//
//        // verify the required parameter 'workflowId' is set
//        if (workflowId == null) {
//            throw new ApiException("Missing the required parameter 'workflowId' when calling getWorkflowStatus(Async)");
//        }
//
//
//        com.squareup.okhttp.Call call = getWorkflowStatusCall(workflowId, progressListener, progressRequestListener);
//        return call;
//
//
//
//
//
//    }
//
//    /**
//     * Get quick status info about a running workflow
//     *
//     * @param workflowId  (required)
//     * @return Ga4ghWesWorkflowStatus
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public Ga4ghWesWorkflowStatus getWorkflowStatus(String workflowId) throws ApiException {
//        ApiResponse<Ga4ghWesWorkflowStatus> resp = getWorkflowStatusWithHttpInfo(workflowId);
//        return resp.getData();
//    }
//
//    /**
//     * Get quick status info about a running workflow
//     *
//     * @param workflowId  (required)
//     * @return ApiResponse&lt;Ga4ghWesWorkflowStatus&gt;
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public ApiResponse<Ga4ghWesWorkflowStatus> getWorkflowStatusWithHttpInfo(String workflowId) throws ApiException {
//        com.squareup.okhttp.Call call = getWorkflowStatusValidateBeforeCall(workflowId, null, null);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowStatus>(){}.getType();
//        return apiClient.execute(call, localVarReturnType);
//    }
//
//    /**
//     * Get quick status info about a running workflow (asynchronously)
//     *
//     * @param workflowId  (required)
//     * @param callback The callback to be executed when the API call finishes
//     * @return The request call
//     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
//     */
//    public com.squareup.okhttp.Call getWorkflowStatusAsync(String workflowId, final ApiCallback<Ga4ghWesWorkflowStatus> callback) throws ApiException {
//
//        ProgressResponseBody.ProgressListener progressListener = null;
//        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;
//
//        if (callback != null) {
//            progressListener = new ProgressResponseBody.ProgressListener() {
//                @Override
//                public void update(long bytesRead, long contentLength, boolean done) {
//                    callback.onDownloadProgress(bytesRead, contentLength, done);
//                }
//            };
//
//            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
//                @Override
//                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
//                    callback.onUploadProgress(bytesWritten, contentLength, done);
//                }
//            };
//        }
//
//        com.squareup.okhttp.Call call = getWorkflowStatusValidateBeforeCall(workflowId, progressListener, progressRequestListener);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowStatus>(){}.getType();
//        apiClient.executeAsync(call, localVarReturnType, callback);
//        return call;
//    }
//    /**
//     * Build call for listWorkflows
//     * @param pageSize OPTIONAL Number of workflows to return at once. Defaults to 256, and max is 2048. (optional)
//     * @param pageToken OPTIONAL Token to use to indicate where to start getting results. If unspecified, returns the first page of results. (optional)
//     * @param keyValueSearch OPTIONAL For each key, if the key&#39;s value is empty string then match workflows that are tagged with this key regardless of value. (optional)
//     * @param progressListener Progress listener
//     * @param progressRequestListener Progress request listener
//     * @return Call to execute
//     * @throws ApiException If fail to serialize the request body object
//     */
//    public com.squareup.okhttp.Call listWorkflowsCall(Long pageSize, String pageToken, String keyValueSearch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//        Object localVarPostBody = null;
//
//        // create path and map variables
//        String localVarPath = "/ga4gh/wes/v1/workflows";
//
//        List<Pair> localVarQueryParams = new ArrayList<Pair>();
//        if (pageSize != null)
//        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page_size", pageSize));
//        if (pageToken != null)
//        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page_token", pageToken));
//        if (keyValueSearch != null)
//        localVarQueryParams.addAll(apiClient.parameterToPairs("", "key_value_search", keyValueSearch));
//
//        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
//
//        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
//
//        final String[] localVarAccepts = {
//            "application/json"
//        };
//        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
//        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);
//
//        final String[] localVarContentTypes = {
//            "application/json"
//        };
//        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
//        localVarHeaderParams.put("Content-Type", localVarContentType);
//
//        if(progressListener != null) {
//            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
//                @Override
//                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
//                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
//                    return originalResponse.newBuilder()
//                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
//                    .build();
//                }
//            });
//        }
//
//        String[] localVarAuthNames = new String[] {  };
//        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
//    }
//
//    @SuppressWarnings("rawtypes")
//    private com.squareup.okhttp.Call listWorkflowsValidateBeforeCall(Long pageSize, String pageToken, String keyValueSearch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//
//
//        com.squareup.okhttp.Call call = listWorkflowsCall(pageSize, pageToken, keyValueSearch, progressListener, progressRequestListener);
//        return call;
//
//
//
//
//
//    }
//
//    /**
//     * List the workflows, this endpoint will list the workflows in order of oldest to newest.  There is no guarantee of live updates as the user traverses the pages, the behavior should be decided (and documented) by each implementation.
//     *
//     * @param pageSize OPTIONAL Number of workflows to return at once. Defaults to 256, and max is 2048. (optional)
//     * @param pageToken OPTIONAL Token to use to indicate where to start getting results. If unspecified, returns the first page of results. (optional)
//     * @param keyValueSearch OPTIONAL For each key, if the key&#39;s value is empty string then match workflows that are tagged with this key regardless of value. (optional)
//     * @return Ga4ghWesWorkflowListResponse
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public Ga4ghWesWorkflowListResponse listWorkflows(Long pageSize, String pageToken, String keyValueSearch) throws ApiException {
//        ApiResponse<Ga4ghWesWorkflowListResponse> resp = listWorkflowsWithHttpInfo(pageSize, pageToken, keyValueSearch);
//        return resp.getData();
//    }
//
//    /**
//     * List the workflows, this endpoint will list the workflows in order of oldest to newest.  There is no guarantee of live updates as the user traverses the pages, the behavior should be decided (and documented) by each implementation.
//     *
//     * @param pageSize OPTIONAL Number of workflows to return at once. Defaults to 256, and max is 2048. (optional)
//     * @param pageToken OPTIONAL Token to use to indicate where to start getting results. If unspecified, returns the first page of results. (optional)
//     * @param keyValueSearch OPTIONAL For each key, if the key&#39;s value is empty string then match workflows that are tagged with this key regardless of value. (optional)
//     * @return ApiResponse&lt;Ga4ghWesWorkflowListResponse&gt;
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public ApiResponse<Ga4ghWesWorkflowListResponse> listWorkflowsWithHttpInfo(Long pageSize, String pageToken, String keyValueSearch) throws ApiException {
//        com.squareup.okhttp.Call call = listWorkflowsValidateBeforeCall(pageSize, pageToken, keyValueSearch, null, null);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowListResponse>(){}.getType();
//        return apiClient.execute(call, localVarReturnType);
//    }
//
//    /**
//     * List the workflows, this endpoint will list the workflows in order of oldest to newest.  There is no guarantee of live updates as the user traverses the pages, the behavior should be decided (and documented) by each implementation. (asynchronously)
//     *
//     * @param pageSize OPTIONAL Number of workflows to return at once. Defaults to 256, and max is 2048. (optional)
//     * @param pageToken OPTIONAL Token to use to indicate where to start getting results. If unspecified, returns the first page of results. (optional)
//     * @param keyValueSearch OPTIONAL For each key, if the key&#39;s value is empty string then match workflows that are tagged with this key regardless of value. (optional)
//     * @param callback The callback to be executed when the API call finishes
//     * @return The request call
//     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
//     */
//    public com.squareup.okhttp.Call listWorkflowsAsync(Long pageSize, String pageToken, String keyValueSearch, final ApiCallback<Ga4ghWesWorkflowListResponse> callback) throws ApiException {
//
//        ProgressResponseBody.ProgressListener progressListener = null;
//        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;
//
//        if (callback != null) {
//            progressListener = new ProgressResponseBody.ProgressListener() {
//                @Override
//                public void update(long bytesRead, long contentLength, boolean done) {
//                    callback.onDownloadProgress(bytesRead, contentLength, done);
//                }
//            };
//
//            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
//                @Override
//                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
//                    callback.onUploadProgress(bytesWritten, contentLength, done);
//                }
//            };
//        }
//
//        com.squareup.okhttp.Call call = listWorkflowsValidateBeforeCall(pageSize, pageToken, keyValueSearch, progressListener, progressRequestListener);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowListResponse>(){}.getType();
//        apiClient.executeAsync(call, localVarReturnType, callback);
//        return call;
//    }
//    /**
//     * Build call for runWorkflow
//     * @param body  (required)
//     * @param progressListener Progress listener
//     * @param progressRequestListener Progress request listener
//     * @return Call to execute
//     * @throws ApiException If fail to serialize the request body object
//     */
//    public com.squareup.okhttp.Call runWorkflowCall(Ga4ghWesWorkflowRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//        Object localVarPostBody = body;
//
//        // create path and map variables
//        String localVarPath = "/ga4gh/wes/v1/workflows";
//
//        List<Pair> localVarQueryParams = new ArrayList<Pair>();
//
//        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
//
//        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
//
//        final String[] localVarAccepts = {
//            "application/json"
//        };
//        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
//        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);
//
//        final String[] localVarContentTypes = {
//            "application/json"
//        };
//        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
//        localVarHeaderParams.put("Content-Type", localVarContentType);
//
//        if(progressListener != null) {
//            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
//                @Override
//                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
//                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
//                    return originalResponse.newBuilder()
//                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
//                    .build();
//                }
//            });
//        }
//
//        String[] localVarAuthNames = new String[] {  };
//        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
//    }
//
//    @SuppressWarnings("rawtypes")
//    private com.squareup.okhttp.Call runWorkflowValidateBeforeCall(Ga4ghWesWorkflowRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
//
//        // verify the required parameter 'body' is set
//        if (body == null) {
//            throw new ApiException("Missing the required parameter 'body' when calling runWorkflow(Async)");
//        }
//
//
//        com.squareup.okhttp.Call call = runWorkflowCall(body, progressListener, progressRequestListener);
//        return call;
//
//
//
//
//
//    }
//
//    /**
//     * Run a workflow, this endpoint will allow you to create a new workflow request and retrieve its tracking ID to monitor its progress.  An important assumption in this endpoint is that the workflow_params JSON will include parameterizations along with input and output files.  The latter two may be on S3, Google object storage, local filesystems, etc.  This specification makes no distinction.  However, it is assumed that the submitter is using URLs that this system both understands and can access. For Amazon S3, this could be accomplished by given the credentials associated with a WES service access to a particular bucket.  The details are important for a production system and user on-boarding but outside the scope of this spec.
//     *
//     * @param body  (required)
//     * @return Ga4ghWesWorkflowRunId
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public Ga4ghWesWorkflowRunId runWorkflow(Ga4ghWesWorkflowRequest body) throws ApiException {
//        ApiResponse<Ga4ghWesWorkflowRunId> resp = runWorkflowWithHttpInfo(body);
//        return resp.getData();
//    }
//
//    /**
//     * Run a workflow, this endpoint will allow you to create a new workflow request and retrieve its tracking ID to monitor its progress.  An important assumption in this endpoint is that the workflow_params JSON will include parameterizations along with input and output files.  The latter two may be on S3, Google object storage, local filesystems, etc.  This specification makes no distinction.  However, it is assumed that the submitter is using URLs that this system both understands and can access. For Amazon S3, this could be accomplished by given the credentials associated with a WES service access to a particular bucket.  The details are important for a production system and user on-boarding but outside the scope of this spec.
//     *
//     * @param body  (required)
//     * @return ApiResponse&lt;Ga4ghWesWorkflowRunId&gt;
//     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
//     */
//    public ApiResponse<Ga4ghWesWorkflowRunId> runWorkflowWithHttpInfo(Ga4ghWesWorkflowRequest body) throws ApiException {
//        com.squareup.okhttp.Call call = runWorkflowValidateBeforeCall(body, null, null);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowRunId>(){}.getType();
//        return apiClient.execute(call, localVarReturnType);
//    }
//
//    /**
//     * Run a workflow, this endpoint will allow you to create a new workflow request and retrieve its tracking ID to monitor its progress.  An important assumption in this endpoint is that the workflow_params JSON will include parameterizations along with input and output files.  The latter two may be on S3, Google object storage, local filesystems, etc.  This specification makes no distinction.  However, it is assumed that the submitter is using URLs that this system both understands and can access. For Amazon S3, this could be accomplished by given the credentials associated with a WES service access to a particular bucket.  The details are important for a production system and user on-boarding but outside the scope of this spec. (asynchronously)
//     *
//     * @param body  (required)
//     * @param callback The callback to be executed when the API call finishes
//     * @return The request call
//     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
//     */
//    public com.squareup.okhttp.Call runWorkflowAsync(Ga4ghWesWorkflowRequest body, final ApiCallback<Ga4ghWesWorkflowRunId> callback) throws ApiException {
//
//        ProgressResponseBody.ProgressListener progressListener = null;
//        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;
//
//        if (callback != null) {
//            progressListener = new ProgressResponseBody.ProgressListener() {
//                @Override
//                public void update(long bytesRead, long contentLength, boolean done) {
//                    callback.onDownloadProgress(bytesRead, contentLength, done);
//                }
//            };
//
//            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
//                @Override
//                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
//                    callback.onUploadProgress(bytesWritten, contentLength, done);
//                }
//            };
//        }
//
//        com.squareup.okhttp.Call call = runWorkflowValidateBeforeCall(body, progressListener, progressRequestListener);
//        Type localVarReturnType = new TypeToken<Ga4ghWesWorkflowRunId>(){}.getType();
//        apiClient.executeAsync(call, localVarReturnType, callback);
//        return call;
//    }
//}
